{"twitchOAuthToken":"tv5w1d7osoca97dk8nsx2y13e6chl8",
"twitchClientID":"4xa8gnw4bmikrcxc0r24vy2qduc0cv",
"twitchChannelID":"27391370",
"elevenLabsAPIKey":"sk_c37662c4250f30db5ac5b155427f5ec3d43b0f20b8acee8b",
"elevenLabsVoiceID":"srUyX1KiPXUS7jvGq3HY"}
/.vs/vasehh.com/FileContentIndex/7251c6e4-f3bd-4785-9d32-c544149e8a47.vsidx
/.vs/vasehh.com/FileContentIndex/8bd146cb-31d2-423a-971e-1f33bb93c0f7.vsidx
/.vs/vasehh.com/FileContentIndex/aad2d79d-a275-4426-b6c5-94bff6a56bb6.vsidx
/.vs/vasehh.com/FileContentIndex/b6f945b0-bcc6-43c0-bc11-6955f28de95f.vsidx
/.vs/vasehh.com/FileContentIndex/e6c1e5d0-8a1e-4c88-a740-95e6f319a619.vsidx
/.vs/vasehh.com/FileContentIndex/184a4fd3-810a-463d-a0a1-8d194a948e0b.vsidx
/.vs/vasehh.com/FileContentIndex/206f9649-3932-47ed-a58a-7f37dc46b277.vsidx
/.vs/vasehh.com/FileContentIndex/2285de62-7b64-42d4-b04a-80b5c2096fb4.vsidx
/.vs/vasehh.com/v17/.wsuo
/.vs/vasehh.com/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/vasehh.com/FileContentIndex/a0e6c3bd-13c5-41b1-8673-f581b6e8c42c.vsidx
/.vs/VSWorkspaceState.json
/.vs/vasehh.com/FileContentIndex/d97d0d2d-05ef-4a17-8b01-00fe8b0ba01b.vsidx
*.vsidx
