#consoleOutput {
	background-color: black;
	color: white;
	padding: 10px;
	font-family: Consolas;
	font-size: large;
	height: 80vh;
	overflow-y: auto;
	margin-top: 10px;
	border-radius: 10px;
}

h1 {
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	font-family: Consolas;
}

button {
	background-color: black;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	font-size: large;
	font-family: Consolas;
}

input {
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px;
	font-size: large;
	font-family: Consolas;
}

label {
	font-family: Consolas;
	font-size: large;
}

option {
	font-family: Consolas;
	font-size: large;
}

select {
	border-radius: 10px;
	margin: 10px 0;
	font-size: large;
	font-family: Consolas;
}

.checkbox {
	transform: scale(1.3);
	margin-inline: 5px;
}
