body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #262626;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}

.container {
    text-align: center;
    background: #111111;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: white;
}

p {
    color: white;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.social-media a:hover {
    background-color: #0056b3;
}
